name: wtf_sliding_sheet
description: A widget that can be dragged and scrolled in a single gesture and snapped to a list of extents.
version: 0.6.2
homepage: https://pub.dev/packages/wtf_sliding_sheet
repository: https://github.com/flutterwtf/wtf_sliding_sheet

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
